#map-section {
}

#map {
    height: 30em;
    width: 55em;
}

#personal-section {
    /*padding-right: 10em;*/
}

#story-section {
    margin-top: -25em;
    border: 1px solid #8cb3d9;
    background-color: #8cb3d9;
    padding: 2em;
    color: #4d4d4d;
    width: 56.5%;
}

#history-title {
    color: #fff;
}

#story-section > p {
    font-size:16px;
}

#twitter-section {
    /*padding-right: 10em;*/
 /* height: 50em;
  border: 1px solid black;
  margin-top: 4em;*/
}

#api-logos {
    width: 20em;
    /*margin-top: 25em;*/
    font-size: 24px;
    margin: 0 auto;
}
