form {
    margin-left: 5em;
}

#map {
    height: 30em;
    width: 55em;
    margin-left: 5em;
}

#personal-section {
    /*padding-right: 10em;*/
    margin-left: 5em;
}

#story-section {
  /*height: 20em;
  border: 1px solid black;*/
  /*margin: -25em 2em 2em 2em;*/
  /*padding-left: 10em*/
}

#twitter-section {
    margin-left: 5em;
}
