form {
    margin-left: 5em;
    margin-top: 2em;
}

#title{
    color: #8cb3d9;
    margin-left: 2em;
    font-family: 'Raleway', sans-serif;
}

#map {
    height: 30em;
    width: 55em;
    margin-left: 5em;
}

#personal-section {
    /*padding-right: 10em;*/
    font-family: 'Raleway', sans-serif;
    margin-left: 5em;
    margin-top: -8em;
    margin-bottom: 2em;
    background-color: #8cb3d9;
    color: #fff;
    padding-bottom: 1em;
}

#story-section {
    margin-top: -12em;
    margin-left: 5em;
    border: 1px solid #8cb3d9;
    background-color: #8cb3d9;
    padding: 2em;
    color: #4d4d4d;
    width: 55em;

/*    width: 56.5%;*/
}

#history-title {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

#story-section > p {
    font-size:16px;
}

#twitter-section {
    margin-left: 5em;

}

#api-logos {
    width: 20em;
    /*margin-top: 25em;*/
    font-size: 24px;
    /*margin: 0 auto;*/
}
